body {
  padding:0;
  margin:0;
  font-family:caption, system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size:13px;
  background-color:white;
}
#contacts-body td {
  padding:5px 15px;
  border-right:0;
}
#contacts-table {
  //height:100%;
  overflow:hidden;
}
th {
  padding:1px;
  text-align:center;
  font-weight:normal;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
}
th:last-child {
  border-right:0;
}
header {
  text-align:center;
  padding:5px;
  min-height:30px;
  -webkit-app-region:drag;
  background-color:#e8e6e8;
  background-image:linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);

}
.button {
  font-weight:bold;
  background-color:#6eb4f7;
  border: 1px solid #6eb4f7;
  margin:2px;
  color:white;
  text-align:center;
  font-family:"Verdana";
}
table {
  width:100%;
  font-size:12px;
  border:0;
  border-collapse:collapse;
  border-spacing:0;

}
h4 {
  font-size:18px;
  margin-top:20px;
  margin-bottom:10px;
  font-weight:500;
  white-space:nowrap;
  user-select:none;
  cursor:default;
}
table tr:nth-child(even) {
  background-color:#f5f5f4;
}
thead {
  background-color:#f5f5f4;
}
h5 {
  font-size:14px;
  margin-top:20px;
  margin-bottom:10px;
  font-weight:500;
}
input {
  width:100%;
  height:30px;
  padding:5px 10px;
  font-size:13px;
  line-height:1.6;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:4px;
  outline:none;
  transition:border-color 0.2s;
}
input:focus {
  border-color:#6db3fd;
}
#search {
  border-radius:0 !important;
}
tr {
  height:20px;
}
#controls {
  background-color:#EEEDEE;
  padding:10px;
  margin:0;
  display: flex;
  flex-wrap:wrap;
}
#controls .button {
  flex-basis:100px;
}
footer {
//position:absolute;
width:100%;
   background-color:#e8e6e8;
   bottom:0;
   height:auto;   /* Height of the footer */
   padding:10px;
   text-align:center;
}
#callsign-input {
  text-transform:uppercase;
}
::-webkit-input-placeholder {
    text-transform: none;
}
.dummy {
  display:none;
}
#settings-content {
  padding:20px;
}
legend {
  font-size:16px;
}
#version-message {
  display:none;
}
li {
  padding:0px;
}
.edit {
  display:none;
  font-size:8px;

}
.cell-button {
  height:100% !important;
  margin:0px !important;
  vertical-align: middle;
    width:100%;

}
#contacts-table tr:hover .edit {
  display:inline-block;
}
#edit-header {
  width:50px;
}
.edit-cell {
  padding:0px !important;
}

#contacts-table thead tr :nth-last-child(-n+2) {
  border-right:none;
}
fieldset {
  margin:10px;
}
#beepFieldset {
  text-align:center;
}
