body {
  text-align:center;
}
footer {
  bottom:0px;
}
button {
background-color:white;
border-radius: 7px;
border-style:solid;
border-color:black;
padding:10px;
font-size:20px;
user-select: none;
position:relative;
}
